# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Models
*.pt
*.pth
*.h5
*.joblib

# Data
data/raw/
data/processed/

# Logs
logs/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/
